.webrings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 300px;

  div {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .metadata {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
