.linking_block {
  line-height: 1;
  margin-bottom: 24px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin-bottom: 0;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;

      em {
        color: var(--color-p);
      }
    }
  }

  .links {
    display: flex;
    gap: 16px;

    a {
      text-wrap: nowrap;
    }
  }
}
