*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --text-sm: 0.85rem;
  --text-base: 1.125rem;
  --text-title: 2rem;
  --text-title-xl: 3rem;
  --color-k: #030303;
  --color-w: #ffffff;
  --color-y: #ffff00;
  --color-b: #0000aa;
  --color-gr: #676565;
  --color-gr2: #c6b5c1;
  --color-r: #ff1818;
}

body,
html {
  font-family: "Share Tech Mono", monospace !important;
  color: var(--color-k);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body,
p,
span,
a,
strong {
  font-size: var(--text-base);
}

h1 {
  font-size: var(--text-title-xl);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-title);
}

small {
  font-size: var(--text-sm);
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;

  li {
    margin-left: -1rem;
  }

  li::before {
    content: "* ";
  }
}
