*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --text-sm: 0.85rem;
  --text-base: 1.05rem;
  --text-subtitle: 1.25rem;
  --text-title: 1.5rem;
  --text-title-xl: 2.5rem;
  --color-k: #030303;
  --color-k2: #1f1f1f;
  --color-w: #ffffff;
  --color-y: #d5d571;
  --color-b: #0000aa;
  --color-p: #ba36e2;
  --color-gr: #797777;
  --color-gr2: #c6b5c1;
  --color-r: #ff1818;
}

body,
html {
  font-family: "Share Tech Mono", monospace !important;
  background-color: var(--color-k);
  color: var(--color-w);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: thin;
}

html {
  font-size: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body,
p,
span,
a {
  font-size: var(--text-base);
}

h1 {
  font-size: var(--text-title-xl);
}

h2 {
  font-size: var(--text-title);
}

h3,
h4,
h5,
h6 {
  font-size: var(--text-subtitle);
}

small {
  font-size: var(--text-sm);
}

input,
button,
textarea,
label,
select {
  font: inherit;
}

ul {
  list-style: none;

  li {
    margin-left: -2rem;
  }

  li::before {
    content: "♦ ";
    color: var(--color-p);
  }
}

p {
  margin-bottom: 8px;
}

em {
  color: var(--color-gr);
  font-style: normal;
}

a {
  color: var(--color-y);

  &:visited {
    color: var(--color-y);
  }
}
