:global {
  html,
  body {
    background: var(--color-k) !important;
    margin: 24px 4px;
  }
}

.privacy {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  color: var(--color-w);

  a {
    color: var(--color-y);
  }
}
